on: push

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter config --enable-windows-desktop
      - run: flutter pub get
      - run: flutter build windows
      - uses: actions/upload-artifact@v3
        with:
          name: thepuzzlecell-windows
          path: build/windows/runner/Release
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter pub get
      - run: sudo apt install liblzma-dev
      - run: sudo apt install libgstreamer1.0-dev
      - run: sudo apt install libgstreamer-plugins-base1.0-dev
      - run: sudo apt install clang cmake ninja-build pkg-config libgtk-3-dev
      - run: flutter config --enable-linux-desktop
      - run: flutter build linux
      - uses: actions/upload-artifact@v3
        with:
          name: thepuzzlecell-linux
          path: build/linux/x64/release/bundle
      # - run: chmod +x ./build_appimage.sh
      # - run: chmod a+x ./appimage_builder.AppImage
      # - run: ./build_appimage.sh
      # - run: mv ./build/The\ Puzzle\ Cell.AppImage ./build/appimage/TPC.AppImage
      # - uses: actions/upload-artifact@v3
      #   with:
      #     name: thepuzzlecell-appimage
      #     path: build/appimage
  build_macos:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: brew install cmake
      - run: gem install cocoapods
      - run: flutter pub get
      - run: flutter config --enable-macos-desktop
      - run: brew install xcode
      - run: flutter build macos -v
      - uses: actions/upload-artifact@v3
        with:
          name: thepuzzlecell-macos
          path: build/macos/Build/Products/Release
